* {
    outline: 1px solid red !important;
}

/* --------------------------------------------------
1.1.  VARIÁVEIS GLOBAIS e CONFIGURAÇÕES MACRO
-------------------------------------------------- */

:root {

    /* MEDIDAS */
    --headerHeight: 64px;
    --borderRadiusPadrao: 4px;

    /* CORES */
    --azulPrincipal: #1772cb;
    --azulEscuro: #06498d;
    --cinzaClaro: #f7f7f7;
    --cinzaEscuro: grey;
    --white: #ffffff;

}

body {
    background: var(--cinzaEscuro);
    font-family: Nunito, sans-serif;
    padding-top: var(--headerHeight);
}

/* --------------------------------------------------
1.2.  CONFIGURAÇÕES CLASSES
-------------------------------------------------- */

.btn-blue {
    cursor: pointer;
    background: var(--azulPrincipal);
    border: none;
    border-radius: var(--borderRadiusPadrao);
    height: 32px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

.btn-ghost {
    cursor: pointer;
    background: var(--white);
    border: 1px solid var(--azulPrincipal);
    border-radius: var(--borderRadiusPadrao);
    height: 32px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--azulPrincipal);
    font-size: 14px;
}


/* -------------------------------------------------- 
2.1.  HEADER SECTION
-------------------------------------------------- */

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    z-index: 1000;
    background: var(--white);
    border-bottom: 2px solid var(--azulPrincipal);
}

#nav {
    width: 100%;
    max-width: 1440px;

    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0 12px;
    box-sizing: border-box;
    /* backdrop-filter: blur(14px); */
    /* transition: background var(--t) var(--ease); */
}

#nav-inicio,
#nav-links,
#nav-final {
    display: flex;
    align-items: center;
    height: var(--headerHeight);
}

#logo {
    height: calc(var(--headerHeight) - 24px);
}

#nav-links ul {
    display: flex;
    list-style: none;
    gap: 64px;
    margin: 0;
    padding: 0;
}

#nav-links a {
    text-decoration: none;
    color: var(--azulEscuro);
    font-weight: 600;
    font-size: 16px;
}

/* -------------------------------------------------- 
2.2.  HERO SECTION 
-------------------------------------------------- */

#hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: calc(100vh - var(--headerHeight));
    margin: 0 auto;
    background: var(--white);
}

/* -------------------------------------------------- 
2.3.  SERVIÇOS SECTION 
-------------------------------------------------- */

#servicos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: calc(100vh - var(--headerHeight));
    margin: 0 auto;
    background: var(--white);
}